/* FONT-FACES */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,900&display=swap');



@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


/* VERTICAL ALIGNEN DOORMIDDEL VAN FLEX-BOX */
.top-header {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100px;
}


.zoekbalk {
  margin: 0 auto;
  background-color: #f4f6f9;
  height: 40px;
  width: 100%;

}

.zoekbalk > input {
    border: none !important;
    background-color: #f4f6f9;
    width: 250px;
}

.zoekbalk > input:focus {
  outline: none !important;
  box-shadow: none;
  color: none;
  background-color: #f4f6f9;
}


.zoekbalk:after{
  font-family: FontAwesome;
  content: "\f002";
  color: #fe7000;
  font-size: 17px;
  padding: 0 20px;
  right: 0;
  position: absolute;
  margin-right: 10px;
}

.zoekbalk:after:hover {
  color: black;
}

.contact {
  float: right;
  font-size: 12px;
  color: #fe7000;
}

.contact a {
  color: #fe7000;
}

/* SEPARATOR IN HEADER */

hr {
  margin: 0;
  color: #ccc;
  width: 100%;
}

/* NAVIGATION BAR */

.under-header {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 80px;
}

.under-header .navigatie-menu, .navigatie-menu {
  background-color: transparent!important;
  font-size: 15px;
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navigatie-menu {

}

.navigatie-menu li {
   display: inline-block;
   margin-right: 20px;
   list-style: none!important;
}

.navigatie-menu li a {
   color: #fff;
   line-height: 18px;
}

.navigatie-menu li a:hover {
   text-decoration: none;
   color: #fe7000;
   transition: .2s;
}

.navigatie-menu li .home:after {
  font-family: FontAwesome;
  content: "\f015";
  color: #fe7000;
  font-size: 25px;
}
/* header bar */
header{
  width: 100vw;
  max-width: 100%;
  /* background: rgba(122, 0, 0, 0.2); */
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* logo */
header > img{
  height: 65px;
  width: auto;
}
.nav-item{
  height: max-content;
  font-family: monospace;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: rgba(255,255,255,1) 0 0 3px;
  text-align: center;
  /* padding: 0 8px; */
  position: relative;
}
.nav-item > a {
  margin: 2px 0;
}
.nav-item:hover{
  text-shadow: rgba(255,255,255,0) 0 0 0;
}
.nav-item:first-child{
  text-shadow: none;
}
.nav-item::after{
  transition: .2s cubic-bezier(0.6,0.0, 0.2, 1.5);
  margin-left: 50%;
  content: '';
  width: 0%;
  background: orange;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: -1;
}
.nav-item:hover::after{
    margin-left: 0%;
    width: 100%;
}


.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url('../img/bitcoinbanner-2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-items: center;
  align-items: center;
}


.usp {
  color: #fff;
}

.usp h1 {
 font-size: 50px;
}

 .usp ul li {
  background-color: transparent;
  list-style-type: none;
  font-size: 20px;
}

 .usp ul {
   padding-left: 0!important;
 }

 .usp ul li:before {
   font-family: FontAwesome;
   content: "\f00c";
   font-size: 20px;
   color: white;
   margin-right: 10px;
 }

 .btn-kopen{
   position: relative;
   color: white;
   padding: 8px 35px;
   border-radius: 0!important;
   transition: 0.3s ease-in-out;
   overflow: hidden;
 }

.btn-kopen::before{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: #fe7000;
}
.btn-kopen:hover{
  color: inherit;
}
.btn-kopen:after{
  transition: inherit;
  content: '';
  z-index: -2;
  left: -100%;
  top: 0;
  color: white;
  /* z-index: -5; */
  background-color: #78be20;
  position: absolute;
  height: 100%;
  width: 100%;
}
 .btn-kopen:hover:after {
   left: 0;
 }

.omondercontent01,
.omondercontent02,
.omondercontent03,
.omondercontent04 {
  padding: 100px 0;
}

.headlogo{
  display: flex;
  justify-content: center;
}


 .omondercontent01 h2 {
  color: #fe7000;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 25px;
}
